body {
    font-family: 'Segoe UI';
    background: #1D3557;
    overflow-y: hidden;
}

.container {
    padding: 30px;
    margin: 150px auto 5px auto;
    min-width: 1200px;
    color: #000;
    background: #fff;
}

@media (max-width:767px) {
    .container {
        margin: 0 auto;
        max-width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        margin: 0 auto;
        max-width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        margin: 0 auto;
        max-width: 100%;
    }
}

@media (min-width: 1200px) and (max-width:1800px) {
    .container {
        margin: 0 auto;
        max-width: 55%;
    }
}

#location-name {
    font-size: 36px;
    font-weight: bolder;
    color: #a31e29;

}

#timezone {
    font-weight: bold;
}

#weather-info>#temperature-img>img {
    width: 100px;
}

#temperature {
    font-size: 20px;
    text-align: right;
}

#detailedForLocation {
    font-size: 24px;
}

#information-wrapper {
    line-height: 2;
}

#search.form-control {
    padding: 15px;
    width: 1000px;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid #000;
    margin-bottom: 10px;
}

#search::placeholder {
    font-size: 16px;
    color: #000;
}

#suggestions {
    position: absolute;
    padding: 20px 20px;
    width: 700px;
    height: relative;
    background: #457B9D;
    left: 50%;
    right: 50%;
    transform: translate(-50%);

}

svg {
    width: 50px;
    margin: 0 auto;
}

.a_suggestion {
    color: #fdf0d5;
}

li {
    list-style-type: none;
    margin: 0 0 20px auto;
}

a {
    text-decoration: none;
    color: #000;
}

#days {
    display: flex;
    gap: 5px;
}

#days>.column {
    width: 14.1%;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition:200ms ease-in-out;
}
#days>.column:hover{
    filter: saturate(200%);
}
.temp_icon img {
    margin: 0 auto;
}

#weather-forecast>h3 {
    color: #a31e29;
}

#navbar>.container-fluid {
    background: #a31e29;
}

.temp_icon h3 {
    color: #a31e29;
}

.graph_visualizer{
    left:50%;
    transform:translateX(-50%);
    position: absolute;
    height: 750px;
    bottom:-800px;
    background: #fff;
    border: 1px solid #000;
    color:#000;
    transition: 400ms ease-in-out;
    box-shadow: 0 -3px 10px #9e9e9e;
}

.showForecastGraph{
    bottom:50px;
}

canvas{
    width:1200px;
    height:500px;
}
